@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Licorice&family=Moon+Dance&family=Poppins:wght@100&family=Roboto+Condensed:ital@1&family=Roboto:wght@500&family=Ubuntu:wght@300&display=swap');
body{
    font-family: 'Comfortaa', cursive;
font-family: 'Licorice', cursive;
font-family: 'Moon Dance', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
.carosel-button{
    background-color: white;
    color: blue;
    font-weight: 600;
}
.fa-check-circle{
   
    color: darkcyan;
    font-size: 20px;
    
}
.price-table-button{
    width: 180px;
    height: 45px;
    background-color: 
    rgba(255, 192, 203, 0.418);
    border-radius: 20px;
    color: blue;
    font-weight: 900;
}
.premium{
    background-color: #3F87F5;
    color: #fff;
    transform: translateY(-10px);
    z-index: 1;
 

}
.alter{
    color: white;
}
.view-more{
    width: 180px;
    height: 45px;
    background-color: skyblue;

    border-radius: 20px;
    color: white;
    font-weight: 900;
}
.view-more:hover{
    background-color: black;
    color: white;
}
.top-text{
    font-weight: 800;
}